<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tables
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/account">Account</a></li>
          <li><a href="/games">Games</a></li>
          <li><a href="/movies">Movies</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/ebooks">Ebooks</a></li>
          <li><a href="/castlist">Cast List</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
