<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Accounts</h2>


<h3>Account ID: <%= result.rows[0].accid %></h3>
<h3>Name: <%= result.rows[0].fname + ' ' + result.rows[0].lname %></h3>
<h3>Region: <%= result.rows[0].region %></h3>
<h3>Age: <%= result.rows[0].age %></h3>


</div>

</body>
</html>
