<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div class="container">
    <h1>Your Media Center</h1>
    <h3><a href="/games">Games</a></h3>
    <h3><a href="/movies">Movies</a></h3>
    <h3><a href="/music">Music</a></h3>
    <h3><a href="/ebooks">eBooks</a></h3>
  </div>
</body>
</html>
